body {
  height: 2000px;
}

.position {
  position: fixed;
}


header {
  top: 5px;
  width: -webkit-fill-available;
  right: 8px;
  left: 8px;
  padding: 0 0 0 5px;
}

header h1 {
  margin: 5px;
  font-size: 36px;
}


nav {
  display: inline-block;
}

nav ul {
  top: 65px;
  width: 80px;
  padding: 20px 0 20px 40px;
  font-size: 18px;
}


aside {
  width: 500px;
  position: fixed;
  right: 8px;
  top: 65px;
  margin-top: 15px;
}

aside h1 {
  margin: 5px 0 0 10px;
  font-size: 30px;
}

aside h2 {
  margin: 0 0 0 10px;
  font-size: 30px;
}

aside ul {
  margin: 20px 0 20px 0;
  font-size: 18px;
}


main {
  top: 200px;
  width: 400px;
  padding: 5px;
  margin: 0 0 10px 0;
}

main h1 {
  margin: 5px;
  font-size: 34px;
}

main blockquote {
  margin: 5px;
  padding-top: 40px;
}


footer {
  top: 620px;
  padding: 5px;
  width: -webkit-fill-available;
  right: 8px;
  left: 8px;
  font-size: 16px;
  animation: pulse 1500ms infinite;
}


.azure {
  background-color:aliceblue;
}

.border-shadow {
  border: 1px solid black;
  box-shadow: 0 0 5px gray;
}

.h-animation {
  animation: changeColor linear;
  animation-timeline: scroll();
}


@keyframes changeColor {
  from {color: black;}
  to {color: red;}
}

@keyframes pulse {
  from {transform: scale(0.95);
        opacity: 0.7;}
  to {transform: scale(1);
        opacity: 0.7;}
}