body {
  min-height: 100vh;
  margin: 0;
  padding: 6px;
}

header {
  margin: 0.5em 0;
}

header h1 {
  margin: 0.2em;
  font-size: clamp(20px, 4vw, 40px);
}

nav ul {
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: clamp(10px, 2vw, 20px);
}

aside {
  margin: 0.5em 0;
}

aside h1 {
  margin: 0.2em;
  font-size: clamp(20px, 4vw, 40px);
}

aside h2 {
  margin: 0.2em;
  font-size: clamp(10px, 4vw, 30px);
}

aside ul {
  margin: 0.5em;
  font-size: clamp(8px, 3vw, 20px);
}

main {
  padding: 0.2em;
  margin: 0.5em 0;
}

main h1 {
  margin: 0.2em;
  font-size: clamp(20px, 4vw, 40px);
}

main blockquote {
  margin: 0.2em;
  font-size: clamp(4px, 2vw, 15px);
}

footer {
  margin: 0.5em 0;
  padding: 0.2em;
  font-size: clamp(8px, 3vw, 25px);
}

.azure {
  background-color: aliceblue;
}

.border-shadow {
  border: 1px solid black;
  box-shadow: 0 0 0.5em gray;
}

@media screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 420px 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 12px;
    padding: 6px;
    box-sizing: border-box;
  }

  header {
    grid-column: 1 / -1;
    margin: 0;
    padding-left: 5px;
  }

  header h1 {
    margin: 5px;
    font-size: 36px;
  }

  nav {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    align-self: start;
    margin: 0;
  }

  nav ul {
    width: 80px;
    padding: 20px 0 20px 40px;
    font-size: 18px;
    margin: 0;
  }

  aside {
    grid-column: 2;
    grid-row: 2 / 4;
    justify-self: end;
    align-self: start;
    width: 500px;
    margin: 0;
  }

  aside h1 {
    margin: 5px 0 0 10px;
    font-size: 30px;
  }

  aside h2 {
    margin: 0 0 0 10px;
    font-size: 30px;
  }

  aside ul {
    margin: 20px 0 20px 0;
    font-size: 18px;
  }

  main {
    grid-column: 1;
    grid-row: 3;
    width: 400px;
    padding: 5px;
    margin: 0;
    align-self: start;
  }

  main h1 {
    margin: 5px;
    font-size: 34px;
  }

  main blockquote {
    margin: 5px;
    font-size: 13px;
  }

  footer {
    grid-column: 1 / -1;
    margin: 0;
    padding: 5px;
    font-size: 16px;
  }
}